{% extends 'layout.html' %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'index/post.css' %}" type = "text/css">

<content id="content">

  <div class="posting">
    <div class="container">
      <hr width="100%"/>
        <form
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'posts' %}">
          
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              cols="160"
              name="desc"
              placeholder="post description"
              width="100%">
            </textarea>
            <button type="submit" class="my-2btnbtn-primary">Post</button>
        </form>
    </div>
  </div>

  {% for post in posts %}
  <div class="postbox">
    <div class="container">
        <p>
          <div class="post__card">
            <div class="post__header">
              <div class="post__details">
                <span class="post__name">{{post.author}}</span>
                  <span class="post__timestamp">{{post.created_at}}</span>
              </div>
          </div>
        <div class="post__content">
          <p>{{post.post_body}}</p>
        </div>
          <div class="del">
            <form action="{% url 'delete_post' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="dupe" value="{{ post.duplicate_post }}">
                <button name="desc" value="{{ post.post_body }}" type="Delete">delete</option>
          </form>
        </div>
      <hr />
    </div>
  {% endfor %}

</content>

{% endblock body %}