{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{% url 'posts' %}">
      
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Post Description</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          name="desc"
        ></textarea>
      </div>
      <button type="submit" class="my-2 btn btn-primary">Post</button>
    </form>
</div>


{% for post in posts %}
<div class="container">
    <p>
        {{post.author}} : {{post.post_body}} :: {{post.created_at}}
        <form action="{% url 'delete_post' %}" method="post">
           {% csrf_token %}
           <input type="hidden" name="dupe" value="{{ post.duplicate_post }}">
            <button name="desc" value="{{ post.post_body }}" type="Delete">delete</option>
        </form>
    <p>
</div>
{% endfor %}


{% endblock body %}