{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'index/login.css' %}" type = "text/css">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fakebook Login Page</title>
</head>

  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Fakebook</h1>
          <p>Connect with friends and the world around you on Facebook.</p>
        </div>

          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Email or Phone Number" required />
            <input type="password" name= "password" placeholder="Password" required>
            <button class="login" type = "submit" >Log In</button>
            <hr>
            <button class="create-account">Create New Account</button>
          </form>

      </div>
    </div>
  </body>
</html>
{% endblock body %}