{% extends 'layout.html' %}

{% block head %}
  <style>
    .button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .button {
      display: inline-block;
      flex-basis: calc(33.333% - 20px);
      padding: 20px;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      background-color: #B0E0E6; 
      color: #000;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 10px 0;
      cursor: pointer;
      transition: 0.3s;
    }

    .button:hover {
      background-color: #A0D0D6;
      border-color: #999;
    }
  </style>
{% endblock %}

{% block body %}
<script>
    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/chat/' +
        roomName +
        '/'
    );
</script>

<div class="button-container">
  <a href="1" class="button">Room 1</a>
  <a href="2" class="button">Room 2</a>
  <a href="3" class="button">Room 3</a>
  <a href="4" class="button">Room 4</a>
  <a href="5" class="button">Room 5</a>
  <a href="6" class="button">Room 6</a>
  <a href="7" class="button">Room 7</a>
</div>

{% endblock %}